.arr-title {
    font-size: 30px;
    font-family: 'Calibri';
}

.table-header {
    font-family: 'Gill Sans MT';
    font-size: 15px;
    font-weight: bold;
}

.table-content {
    font-family: 'Gill Sans MT';
    font-size: 15px;
}